body{
    background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
    background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
    background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
    background-image: linear-gradient(top, #ffffff, #ebebeb);
    font-size:87.5%; /*Base font size is 14px*/
    font-family: Cambria, Georgia, serif;
    line-height:1.5;
    text-align:left;
    overflow-x: hidden;
}

.body{
    /*
    background-image: url(bg.png);
    color:#000000;
    */
    font-size:87.5%; /*Base font size is 14px*/
    font-family: Cambria, Georgia, serif;
    line-height:1.5;
    text-align:left;
    margin:0;
}	

.logo {
  font-size:350%;
  font-family: 'Lobster', cursive;
  color: #A20D1E;
}

.logoInverse {
  font-size:350%;
  font-family: 'Lobster', cursive;
  color: white;
  padding: 20px 0 30px 30px;
}

.container {
  margin: 80px auto;
  width: 640px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 310px;
  height: 160px;
  background: white;
  border-radius: 3px;
}

input {
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
}
  
input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 300px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #FFE2DF #F6B1C3 #F6B1C3 #FFE2DF;
  border-radius: 2px;
  outline: 5px solid #FFE2DF;
}

input[type=submit] {
  float: right;
  padding: 0 18px;
  height: 29px;
  font-weight: bold;
  color: #A20D1E;
  background: #FFE2DF;
  border: 1px solid;
  border-color: #FFE2DF #F6B1C3 #F6B1C3 #FFE2DF;
  outline: 0;
}

.banner{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 140px;
  background-color: #A20D1E;
}

.sidebar{
  position:relative;
  top: 150px;
  padding: 20px 0 0 30px;
  width: 25%;
  float: left;
}

.mainContent{
  position: relative;
  top: 150px;
  width:75%;
  float:right;
  padding: 20px 0 0 0;
}

.footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height:25px;
  line-height:25px;
  text-align:center;
}

.footerContent{
  display:block;
  float: left;
  width: 100%;
  height: 25px;
  margin:0;
  padding:0;
  line-height:25px;
  color:#ffffff;
  font-size: 80%;
  background-color: #A20D1E;
}

table{
  border-collapse:separate;
  border-spacing:10px;
  border: 1px;
  border-color: #E5E5E5;
  font: 87.5%;
}